html, body {
    width: 350px;
    background-color: #2c3e50;
    margin: 0;
    padding: 0;
}

.header {
    margin-top: 5px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    display: inline-block;
}

.header h3 {
    float: right;
    color: #ecf0f1;
    font-size: 24px;
    margin: 15px;
}

#popup-content {
    text-align: center;
}

#ip {
    background-color: #ecf0f1;
    color: #2c3e50;
    margin-bottom: 20px;
    padding: 5px 0px 5px 0px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    max-width: 85%;
}

#popup-content button{
    background-color: #ecf0f1;
    color: #2c3e50;
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px;
    width: 100px;
    border-radius: 5px;
    font-size: 16px;
    margin: 0px 10px 0px 10px;
}

.links {
    margin: 10px;
    text-align: center;
}

.links a {
    text-decoration: none;
    font-size: 12px;
    color: #bdc3c7;
    padding: 0px 7px 0px 7px;
}

.links a:hover {
    text-decoration: underline;
}